@model List<QuailtyForm.Models.Company>

<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>




<h2>Şirket</h2>

<select id="companySelect" asp-items="@(new SelectList(Model, "Id", "CoCode"))">
    <option value="">Şirket seçin...</option>
</select>

<h2>Kategori 1 Seçimi</h2>

<select id="categorySelect" asp-items="@(new SelectList(Model, "Id", "Description"))">
    <option value="">Kategori 1 seçin...</option>
</select>



