@model QuailtyForm.ViewModels.ComplexFormViewModel

<head>

    <!-- jQuery kütüphanesi, sadece bir kere ekleyin -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- my css-->
    <link href="~/css/my.css" rel="stylesheet" />
    <link href="~/css/switch.css" rel="stylesheet" />
   


    <!-- Select2 CSS, özel stilizasyon için gerekli -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <!-- Select2 JS, jQuery'den sonra yüklenmeli -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>

<body>


    <form method="post">

        <h1>Kalite Kontrol Anketi</h1>
        <div class="col-12">
            <div class="col-12">
                <!-- Dark Mode Switch -->
                <div style="display: flex; align-items: center; margin-bottom:20px;">
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle">
                        <span class="slider round"></span>
                    </label>
                    <label for="darkModeToggle" style="margin-left: 10px;font-weight:bold;"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 24 16">  <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278" /></svg></label>
                </div>
                <div>
                    <h3>Kalite Kontrol</h3>
                    <select id="company1Select" asp-items="@(new SelectList(Model.Companies,"ProjectBlockDefId",  "ControlName","SurveyId"))">
                        <option value="">Kaydı seçin...</option>
                    </select>
                </div>
                <div>
                    <h3>Blok - Kat</h3>
                    <select id="project1Select" asp-items="@(new SelectList(Model.Projects, "BlockDefDId","DisplayText"))">
                        <option value="">Önce Kalite Kontrol kaydını Seçin...</option>
                    </select>
                </div>
                <div>
                    <h3>Kategori-1</h3>
                    <select id="category1Select" asp-items="@(new SelectList(Model.Categories1, "Id", "Description"))">
                        <option value="">Kategori 1 kaydını seçin...</option>
                    </select>
                </div>

                <div>
                    <h3>Kategori-2</h3>
                    <select id="category2Select">
                        <option value="">Önce Kategori 1 kaydını seçin...</option>
                    </select>
                </div>

                <div>
                    <h3>İmalat Grubu</h3>
                    <select id="category3Select">
                        <option value="">Önce Kategori 2 kaydını seçin...</option>
                    </select>
                </div>

                <div>
                    <h3>İmalat Adı</h3>
                    <select id="categorySelect" asp-items="@(new SelectList(Model.Categories4, "Id", "Description"))">
                        <option value="">Önce İmalat Grubu kaydını seçin...</option>
                    </select>
                </div>
                <div style="flex-basis: 100%;">
                    <button id="listeleButton" type="button" class="bg-primary">Soruları Listele</button>


                </div>

                <!-- Question list section, initially hidden -->
                <div class="question-list" id="questionList" style="display:none;">
                    <h3>Sorular Listesi</h3>
                    <ul id="questionItems" class="question-list">
                        <!-- Sorular burada listelenecek -->
                    </ul>
                    <button type="button" onclick="submitForm()" class="save-button">Anketi Kaydet</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Anket Sonucu</h5>
                    </div>
                    <div class="modal-body">
                        Anketiniz başarıyla kaydedilmiştir.
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>


<script src="~/js/action.js"></script>
<script src="~/js/style.js"></script>







