body {
    /*background-image: url('https://fabitech.com.tr/assets/media/logos/constructor-form.png');*/ /* Arka plan resmi */
    /*background-image: url('../bacground_img.png');*/ /* Arka plan resmi */
    background-color: rgba(255, 255, 255, 0.3); /* Beyaz renk ve yarı şeffaf arka plan */
    background-blend-mode: color-dodge; /* Arka plan resmi ve rengi arasında karışım modu */
    background-size: contain; /* Arka plan resmini kaplayacak şekilde ayarla */
    background-position: center; /* Arka plan resmini merkeze al */
    font-family: Arial, sans-serif;
    padding: 20px;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Full viewport height */
}

form {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /*          margin: auto; /* Sayfanın ortasına yerleştirir */ */ width: fit-content; /* İçeriğin genişliğine göre ayarlar */
    justify-content: center; /* Yatay eksende ortalar */
}

    form > div {
        flex: 1;
        min-width: 100%; /* min-width ekleyerek yan yana sığabilecek minimum genişliği belirleyin */
        flex-direction: column;
        align-items: center;
    }

h1 {
    color: #565959;
    margin-bottom: 0.5em;
    text-align: center; /* Add this line to center the text */
}

h3 {
    color: #565959;
    margin-bottom: 0.5em;
    align-items: center;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: rgba(255, 255, 255, 0.7);
}

button {
    background-color: #9c3f92;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

.radio-options {
    display: block; /* Changed from flex to block to stack the buttons vertically */
    margin-top: 10px; /* Adjust as needed to move the buttons down */
}

/* Style for the labels next to radio buttons */
.radio-label {
    font-weight: 300; /* Make font thinner */
    margin-left: 5px; /* Add a little space between the radio button and the label */
}

/* New styles for question list */
.question-list {
    background-color: white; /* Beyaz renk ve yarı şeffaf arka plan */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

    .question-list ul {
        list-style-type: none;
        padding: 0;
        /*background-image: url('https://fabitech.com.tr/sign/Logo-Yatay-Mor.png');  Arka plan resmi */
        background-color: #565959 /* Beyaz renk ve yarı şeffaf arka plan */
        background-blend-mode: color-dodge; /* Arka plan resmi ve rengi arasında karışım modu */
        background-size: cover; /* Arka plan resmini kaplayacak şekilde ayarla */
        background-position: center; /* Arka plan resmini merkeze al */
    }

    .question-list li {
        margin-bottom: 10px;
        font-weight: bold;
    }

h1, h3 {
    font-weight: bold;
    color: #565959;
}
/* Dark Mode Stilleri */
.dark-mode {
    background-color: #121212; /* Koyu arka plan rengi */
    color: #ffffff; /* Açık metin rengi */
}

    .dark-mode h1, .dark-mode h3 {
        color: #ffffff;
    }

    .dark-mode form {
        background-color: #333333;
        opacity:0.6;
    }

    .dark-mode select {
        background-color: #121212;
        color: white;
    }

    .dark-mode .question-list {
        background-color: #333333; /* Form için koyu arka plan */
    }
/* Diğer dark mode stillerini buraya ekleyebilirsiniz */

/* Dark Mode Butonu */
.dark-mode-button {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Modal'ı sayfanın ortasında hizalama */
.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - .5rem);
}

.modal {
    overflow-y: auto;
}
